<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
    <meta charset="UTF-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>모든와인</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.css}">
    <link rel="stylesheet" th:href="@{assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>

    <!-- 공통으로 쓰이는 스크립트 일을넣는다.-->
     <!-- JS here -->
    <script th:src="@{assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <script th:src="@{assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{assets/js/popper.min.js}"></script>
    <script th:src="@{assets/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{assets/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{assets/js/ajax-form.js}"></script>
    <script th:src="@{assets/js/waypoints.min.js}"></script>
    <script th:src="@{assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{assets/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{assets/js/scrollIt.js}"></script>
    <script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{assets/js/wow.min.js}"></script>
    <script th:src="@{assets/js/nice-select.min.js}"></script>
    <script th:src="@{assets/js/jquery.slicknav.min.js}"></script>
    <script th:src="@{assets/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{assets/js/plugins.js}"></script>
    <script th:src="@{assets/js/gijgo.min.js}"></script>

    <!--contact js-->
    <script th:src="@{assets/js/contact.js}"></script>
    <script th:src="@{assets/js/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{assets/js/jquery.form.js}"></script>
    <script th:src="@{assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{assets/js/mail-script.js}"></script>
    <script th:src="@{assets/js/main.js}"></script>
    
    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script"></th:block>
</head>

</html>